<nav class="app-drawer" [class.visible]="visible === true">

  <ul>
    <li class="app-drawer-title"><span>{{ 'Manage your Site' | translate }}</span></li>
    <li><a [routerLink]="['Pages']">{{ 'Pages' | translate }}</a></li>
    <li><a [routerLink]="['Menus']">{{ 'Menus' | translate }}</a></li>
    <li><a [routerLink]="['Galleries']">{{ 'Galleries' | translate }}</a></li>
    <li><a [routerLink]="['Forms']">{{ 'Forms' | translate }}</a></li>
    <li><a [routerLink]="['Submissions']">{{ 'Submissions' | translate }}</a></li>
    <li><a [routerLink]="['Files']">{{ 'Files' | translate }}</a></li>
    <li><a [routerLink]="['Users']">{{ 'Users' | translate }}</a></li>
    <li><a [routerLink]="['Settings']">{{ 'Settings' | translate }}</a></li>
    <li><a (click)="signOut()">{{ 'Sign Out' | translate }}</a></li>
  </ul>

  <ul>
    <li class="app-drawer-title"><span>{{ 'Developer Options' | translate }}</span></li>
    <li><a (click)="reload()">{{ 'Re-publish plugins' | translate }}</a></li>
  </ul>

</nav>